{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}
    <form method="post">

        <div class="container">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="my-5 col-md-6 offset-md-3">Se connecter</h1>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="alert alert-secondary">

                        <div class="col-12">
                            <label for="inputEmail">Email/Pseudo</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="col-12">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit">
                            Se connecter
                        </button>
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                        <br>
                        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
