{% extends 'base.html.twig' %}

{% block title %}Modifier Lieu{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5"><i class="ion-edit"></i> Modifier le lieu "{{ lieu.nom }}" </h1>

    {{ include('admin/lieu/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-outline-dark" href="{{ path('app_lieu_index') }}">Retour</a>
    <a class="btn btn-outline-danger"
       onclick="return confirm('Souhaitez vous supprimer ce lieu ?');"
       href="{{ path('app_lieu_delete',{'id':lieu.id })}}">Supprimer
    </a>}
</div>
{% endblock %}
