{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5"><i class="ion-ios-paper-outline"></i> Modifier la sortie "{{ sortie.nom }}" </h1>

        {{ include('admin/sortie/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a class="btn btn-outline-dark" href="{{ path('app_sortie_index') }}">Retour</a>
        <a class="btn btn-outline-danger"
           onclick="return confirm('Souhaitez vous supprimer cette sortie ?');"
           href="{{ path('app_sortie_delete',{'id':sortie.id })}}">Supprimer
        </a>
    </div>
{% endblock %}
